Vip_lead_automation.json
{
  "name": "Vip_lead_automation",
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1u6UlH-MM52qJUY_4ir8lW6-6S7X5c5MjaJ56M8ujW-g",
          "mode": "list",
          "cachedResultName": "Agency_leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u6UlH-MM52qJUY_4ir8lW6-6S7X5c5MjaJ56M8ujW-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u6UlH-MM52qJUY_4ir8lW6-6S7X5c5MjaJ56M8ujW-g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -272,
        -176
      ],
      "id": "94873f31-da4c-46c2-a48c-9da0ff98185a",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NjwTGACaosDv42Tp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        248,
        344
      ],
      "id": "4c8e119c-755e-493d-ae76-7723855a8960",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "V2ReYQHbylCT0cil",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Thank you for your intrest",
        "formDescription": "We will get back to you soon",
        "formFields": {
          "values": [
            {
              "fieldLabel": "name"
            },
            {
              "fieldLabel": "email"
            },
            {
              "fieldLabel": "number"
            },
            {
              "fieldLabel": "budget_tier",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "$100,000 - $500,000"
                  },
                  {
                    "option": "$500,000 - $1,000,000"
                  },
                  {
                    "option": "$1,000,000+"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -496,
        -176
      ],
      "id": "79aa90a2-dfb5-43f2-9c18-bce840bfa636",
      "name": "📥 New Lead Intake1",
      "webhookId": "976ce327-0678-42c7-925f-97bfc853b3b8"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.budget_tier }}",
                    "rightValue": "$100,000 - $500,000",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "909cbec9-aa1c-4956-a446-7ab8effd6156"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3f3fa001-4c9d-4ef2-b55f-bfe8e48bdfdb",
                    "leftValue": "={{ $json.budget_tier }}",
                    "rightValue": "$500,000 - $1,000,000",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8c826bfb-6c39-4c0b-9d4b-67ec09d825de",
                    "leftValue": "={{ $json.budget_tier }}",
                    "rightValue": "$1,000,000+",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -48,
        -192
      ],
      "id": "aac0f378-ea96-4365-b46d-a2103e5ec84c",
      "name": "⚖️ VIP Budget Filter ($1M+)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"You are the Head Concierge at an Elite Luxury Real Estate Agency. Your job is to write a warm, sophisticated, and exclusive welcome message directly to a new client.\n\nGuidelines for your response:\n\nAddress the client by name: {{ $json.name }}.\n\nReference their budget of {{$json. budget_tier}} as a 'significant investment threshold' that grants them access to our private collection.\n\nMention ONE specific luxury amenity they should expect in this tier (e.g., a climate-controlled underground gallery, a private deep-water dock, or an automated smart-home wellness suite).\n\nTone: Professional, elite, and welcoming.\n\nStructure: Start with 'Dear [Name],' and end with 'Warm regards, The Elite Concierge Team'.\n\nRestriction: Do NOT use the words 'Execution Plan' or 'Strategy.' Do NOT include a subject line.\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        120
      ],
      "id": "8d0fe1a1-cbf7-4442-a19d-101eb762a270",
      "name": "🧠 Concierge Content Engine"
    },
    {
      "parameters": {
        "sendTo": "={{ $('📥 New Lead Intake1').item.json.email }}",
        "subject": " Thanks for your form submission.",
        "emailType": "text",
        "message": "We will get back to you, shortly.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        240,
        -368
      ],
      "id": "1b22b722-4337-4eda-ad76-fa8cd67b4e47",
      "name": "✉️ Send Standard \"Thank You\" (Basic)",
      "webhookId": "7f8b81c4-6c9a-496b-87ab-b32e22353fd3",
      "credentials": {
        "gmailOAuth2": {
          "id": "MBT5VU5a7PqxjgQ5",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=🚀 Priority Lead: Our Premium Collection for {{ $json.name }}",
        "message": "=<p>Hi {{ $json.name }},</p>  <p>Thank you for reaching out. A budget of <strong>{{ $json.budget_tier }}</strong> puts you in our <strong>Premium Tier</strong>.</p>  <p>I have notified our Senior Portfolio Manager, who specializes in properties within this range. We are currently pulling a shortlist of off-market opportunities that match your criteria.</p>  <p><strong>What’s next?</strong><br> Expect a call from our office within the next 4 hours to discuss these exclusive listings.</p>  <p>Best regards,<br> The Elite Agency Team</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        240,
        -176
      ],
      "id": "953919f2-72bc-49e4-8869-5d412993ce22",
      "name": "✉️ Send Property Brief & Details (Mid)",
      "webhookId": "5238a9bf-a5cb-440c-a170-fcfd688b6feb",
      "credentials": {
        "gmailOAuth2": {
          "id": "MBT5VU5a7PqxjgQ5",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('📥 New Lead Intake1').item.json.email }}",
        "subject": "=💎 VIP Concierge: Bespoke Property Selection for {{ $('📥 New Lead Intake1').item.json.name }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        528,
        24
      ],
      "id": "bc55bc41-1db5-49bb-b486-5d7dad8e740b",
      "name": "✉️ Send Premium Concierge Guide (VIP)",
      "webhookId": "8d615350-1f9b-4974-a709-152cf2afee97",
      "credentials": {
        "gmailOAuth2": {
          "id": "MBT5VU5a7PqxjgQ5",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=iqbalshahid0078@gmail.com",
        "subject": "=🚨 NEW VIP LEAD: {{ $json.name }} ({{ $json.budget_tier }})",
        "message": "=<p>Hi Sarah,</p>\n\n<p>A high-value lead just submitted the property inquiry form. Here is the breakdown:</p>\n\n<ul>\n  <li><strong>Name:</strong> {{ $json.name }}</li>\n  <li><strong>Email:</strong> {{ $json.email }}</li>\n  <li><strong>Phone:</strong> {{ $json.number }}</li>\n  <li><strong>Budget:</strong> {{ $json.budget_tier }}</li>\n</ul>\n\n<hr>\n\n<p><strong>🤖 AI ADVISOR STRATEGY:</strong><br>\n<em>\"{{ $node[\"🧠 Concierge Content Engine\"].json.output }}\"</em></p>\n\n<hr>\n\n<p><strong>Next Step:</strong> This lead has already received the automated VIP welcome email. You should follow up via phone within the next 60 minutes to maintain momentum.</p>\n\n<p>Best,<br>\nYour n8n Automation Bot</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        528,
        216
      ],
      "id": "35ef4f1b-2da7-45f0-85e4-81053dcf40df",
      "name": "🚨  Alert: VIP Lead & Execution Strategy",
      "webhookId": "9e8982c8-ad49-4a4b-a2eb-eea86cc8ad71",
      "credentials": {
        "gmailOAuth2": {
          "id": "MBT5VU5a7PqxjgQ5",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {
    "🧠 Concierge Content Engine": [
      {
        "json": {
          "output": "Dear Kashmala,\n\nWelcome to our distinguished circle of clients. With your significant investment threshold of $1,000,000+, you are granted exclusive access to our private collection of exceptional properties. Within this select tier, you will discover residences featuring unparalleled amenities, including bespoke automated smart-home wellness suites—designed to elevate your lifestyle with seamless sophistication.\n\nWe look forward to guiding you through this extraordinary selection and ensuring an experience that reflects the elegance and exclusivity you deserve.\n\nWarm regards,  \nThe Elite Concierge Team"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "⚖️ VIP Budget Filter ($1M+)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 Concierge Content Engine",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "📥 New Lead Intake1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚖️ VIP Budget Filter ($1M+)": {
      "main": [
        [
          {
            "node": "✉️ Send Standard \"Thank You\" (Basic)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "✉️ Send Property Brief & Details (Mid)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🧠 Concierge Content Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Concierge Content Engine": {
      "main": [
        [
          {
            "node": "✉️ Send Premium Concierge Guide (VIP)",
            "type": "main",
            "index": 0
          },
          {
            "node": "🚨  Alert: VIP Lead & Execution Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✉️ Send Premium Concierge Guide (VIP)": {
      "main": [
        []
      ]
    },
    "🚨  Alert: VIP Lead & Execution Strategy": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "846bd007-6a6a-46b6-b865-79659b6356f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "664a2037a0a7e61fdd5522f4f97694ac39ebddd8e39e7f0c407a1ef379117ba9"
  },
  "id": "J4h4B6pJXjv406Pl",
  "tags": []
}